@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow|Karla:700i');

html {
  scroll-behavior: smooth;
  offset: top;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  background-color: white;
  padding: 20px;
}

.container-fluid {
  padding: 0;
}

footer {
  font-size: 12px;
  padding: 15px;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
  font-size: 24px;
}

footer li img {
  width: 32px;
  height: 32px;
}

.projects {
  width: 100%;
}

#description {
  text-align: justify;
  border-left: 1px solid black;
  line-height: 20px;
  padding: 10px;
  margin-bottom: 80px;
}

.nameHead {
  color: black;
  font-size: 90px;
  text-align: left;
  font-family: 'Roboto Slab', serif;
  margin-top: 175px;
}

.imgName {
  width: 80%;
  text-align: left;
  font-family: 'Roboto Slab', serif;
  margin-top: 100px;
}

#links {
  text-align: left;
  font-size: 28px;
  letter-spacing: 10px;
  margin-bottom: 300px;
}

div#anchor{
  margin: 0;
  padding: 0;
  top: -200px;
}

#landmark {
  margin: 0;
  padding: 0;
  top: -70px;
}

#projectLabel {
  padding: 50px;
  background-color: #f2f2f2;
  font-family: 'Archivo Narrow', sans-serif;
}

#proj {
  width: 35%;
  margin: 20px;
  display: inline-block;
}

#projectDIV {
  width: 100%;
  padding-bottom: 60px;
  background-color: #f2f2f2;
}

#info {
  width: 35%;
  margin: 20px;
  display: inline-block;
}

#infoLabel {
  margin: 0%;
  padding: 50px;
  background-color: #dcdcdc;
  font-family: 'Archivo Narrow', sans-serif;
}

#infoDIV {
  width: 100%;
  padding-bottom: 100px;
  background-color: #dcdcdc;
}

a.scroll, a {
  color: #000000;
}

a.scroll:hover, a:hover {
  color: #798ba8;
  text-decoration: none;
}

a.fa {
  color: black;
}

a.fa:hover {
  color: #798ba8;
  text-decoration: none;
}

div.scroll {
  font-size: 16px;
  font-family: 'Roboto Slab', serif;
  list-style: none;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  word-spacing: 40px;
  z-index: 1000;
  width: 100%;
  background-color: white;
  line-height: 75px;
}

#meIMG {
  width: 100%;
}

.panel-body {
  text-align: justify;
  font-size: 14px;
}

#panel {
  background-color: white;
  background: none;
  padding: 0;
  border: none;
  border-radius: 0px;
}

/* #links ul {
  list-style: none;
  text-align: center;
  margin: 0px 0px 400px 75px;
  font-size: 28px;
}

#links li img {
  width: 25px;
  height: 25px;
} */