@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

html {
  scroll-behavior: smooth;
  offset: top;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
  font-size: 24px;
}

footer li img {
  width: 32px;
  height: 32px;
}

.projects {
  width: 200px;
  height: 130px;
}

#description {
  text-align: justify;
  margin-bottom: 60px;
  padding: 10px;
  border-left: 1px solid #3a7831;
}

h1 {
  color: black;
  font-size: 90px;
  text-align: left;
  margin: 150px 0px 20px 25px;
  font-family: 'Roboto Slab', serif;
  /* background-image: url(https://img1.picmix.com/output/stamp/normal/0/2/9/7/547920_b479c.gif); */
}

#label {
  text-align: right;
}

#hLINKS ul {
  list-style: none;
  text-align: center;
  margin: 0px 0px 400px 75px;
  font-size: 28px;
}

#hLINKS li img {
  width: 25px;
  height: 25px;
}

a {
  color: #3a7831;
}

a:hover {
  color: #4ad534;
  text-decoration: none;
}

a.fa {
  color: black;
}

a.fa:hover {
  color: #3a7831;
}

.scroll {
  margin-top: 15px;
  font-size: 16px;
  list-style: none;
  text-align: center;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

#meIMG {
  width: 300px;
  height: 300px;
  border-radius: 200px;
  margin-bottom: 500px;
}

